.App {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  img {
    max-width: 100%;
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    color: black;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 20px;
  }
  